*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

header{
    background-image: url(../images/1.jpg);
    height:100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
    margin: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(36, 134, 190);
    padding: 10px;
    border: 1px solid white;
    transition:0.6s ease;
    background-color: rgb(18, 50, 56);
}

ul li a:hover{
    background-color:yellow;
    color: salmon;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 10%;
    left: 25%;
    transform: translate(-50%,50%);
       
}
.title h1{
    color: salmon;
    font-family: cursive; 
    font-size: 500%;
   }

.button{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%,50%);
    }
.btn{
    text-decoration: none;
    color: rgb(22, 18, 20);
    padding: 10px;
    border: 1px solid white;
    background-color: goldenrod;
}
.btn:hover{
    background-color:white;
    color:black;
}
